.editSkillContainer {
  padding-top: 80px;
  width: 100%;
}

.editCertificateContainer {
  padding-top: 80px;
  width: 100%;
}

.editEducationContainer {
  padding-top: 80px;
  width: 100%;
}

.editExperienceContainer {
  padding-top: 80px;
  width: 100%;
}

.editUserContainer {
  padding-top: 80px;
  width: 100%;
}

.editProjectContainer {
  padding-top: 80px;
  width: 100%;
}
