.contentBackground {
  min-height: 100vh;
  background-color: #f1f1f1;
}

.contentWrapper {
  margin-left: 8%;
  margin-right: 8%;
  padding-left: 3%;
  padding-right: 3%;
  max-width: 90%;
  background-color: white;
  padding-top: 120px;
}

.footerWrapper {
  margin-left: 8%;
  margin-right: 8%;
  padding-left: 3%;
  padding-right: 3%;
  max-width: 90%;
  background-color: white;
  padding-top: 80px;
}
