.homeContainer {
  /* margin-top: 30px; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 10px;
}

.title {
  font-weight: 700;
  font-size: 45px;
  color: #27272a;
  margin-bottom: 25px;
}

.body {
  color: #65656d;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
}

.socialLinks {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  cursor: pointer;
}

a {
  color: #65656d;
}

.socialLinks svg:not(:hover) {
  transition: 1.4s;
  transform: rotate(-360deg);
}

.socialLinks svg:hover {
  color: #14b8a6;
  transition: 1.4s;
  transform: rotate(360deg);
}

.img {
  opacity: 1;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  border: 1px solid #ddd;
  margin-top: auto;
  margin-bottom: auto;
}

.img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

@media only screen and (max-width: 992px) {
  .homeContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .title {
    font-size: 35px;
  }

  .body {
    font-size: 14px;
    line-height: 24px;
  }
}
